/*@media only screen and(max-width:600px)*/
*{
    margin: 0px;
    padding: 0px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
 padding: 30px;
}
main{
    margin: 0 auto;
     width: 100%;   
}
/*-------------------PARTIE-HEADER-----------------------*/
header{
    width: 100%;
}
.header_filtre{
    width: 96%;
    padding: 10px;
    background-color: #f7f7f7;
}
.filtre{
    width: 100%;
    padding: 20px;
}
.filtre input{
    width: 85%;
}
.filtre .prix_max{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.lien-filtre{
    width: 100%;
}
.lien-filtre .comparer{
    width: 83%;
    padding: 2% 2% 2% 2%;
    background-color: #096ec8;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.produit_filtre{
    width: 70%;
    
}
.produit_filtre_one{
    display: flex;
  background-color: #ffffff;
    margin-top: 20px;
    width: 70%;
    margin-left: 20px;
}
.produit_filtre_one img{
    width: 20%;
    height: 20%;
}
.produit_filtre_one p span{
    color: #e23a05;
}
.produit_filtre_to img{
    width: 20%;
    height: 20%;
}
.produit_filtre_to p span{
    color: #e23a05;
}
.produit_filtre_to{
    display: flex;
    margin-top: 20px;
   background-color: #ffffff;
    width: 70%;
     margin-left: 20px;
}

/*------------------------LA-BANIERE-IMAGE---------------------------*/
.baniere{
    width: 97%;
    margin-top: 40px;
}
.baniere img{
    width: 100%;
}
/*-------------------------BLOC-FORFAIT-----------------------------------*/
.forfait_container{
    width: 91%;
    border: 1px solid black;
   padding: 2.5%;
   margin-top: 14px;
}
.forfait_container h4{
    margin-top: 30px;
    margin-left: 20px;
}
.forfait_container article{
    width: 100%;
    
}
.forfait_container article img{
/*
    width: 20%;
    height: 20%;
*/
    width: 37px;
    height: 30px;
    margin-top: 50px;
    margin-right:10px;
}
.forfait_container article{
    display: flex;
    justify-content: space-around;
}
.forfait_desc p{
    margin-top: 30px;
}
.forfait_container article a{
    padding: 2% 6% 3% 6%;
    background-color: #2bb04a;
    color: #ffffff;
    border-radius: 6px;
}
.forfait_lien{
    width: 100%;
    background-color: #f9f9f9;
}
.forfait_lien a{
    padding: 2% 2% 2% 2%;
    background-color: #096ec8;
    color:#ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*--------------------------BLOC-INFORMATIONS-------------------------------*/

.infos{
    width: 91%;
    border: 1px solid black;
   padding: 10px;
    margin-top: 30px;
}

/*------------------BLOC-PROMO---------------------*/
.promo{
    width: 64%;
    background-color: #bdc0c3;
    border: 1px solid black;
    padding: 16%;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
}
.promo p{
    color: #e23a05;
}
.promo a{
     padding: 2% 2% 2% 2%;
    background-color: #096ec8;
    color:#ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

/*-----------------------BLOC-OFFRE---------------------*/
.offre_container{
    width: 77%;
    border: 1px solid black;
    padding: 12%;
    margin-top: 30px;
}
.mobile_title h5{
    margin-top: 40px;
}
.offre_desc{
    width: 100%;
}
.offre_desc article{
    margin-top: 50px;
    margin-left: -25px;
}
.offre_container h5{
    margin-top: 20px;
}
.offre_desc article{
    display: flex;
    justify-content: space-around;
}
.offre_desc article>img{
     width: 30px;
  height: 70px;
    margin-left: 20px;
    margin-right: 10px;
   
}
.art_desc .more{
    padding: 2% 2% 2% 2%;
    background-color: #096ec8;
    color:white;
}
.test{
    position: relative;
}
.test span{
    width: 100%;
    position: absolute;
    top: 20px;
    right:-65px;
}
.test>img{
    width: 30px;
}
.art_desc{
    position: relative;
}
.art_desc_one strong{
    position: absolute;
    top: 40px;
    right: 10px;
}
.art_desc_one .more a{
    color: white;
}
.art_desc_one .more{
    padding: 2% 6% 3% 6%;
    background-color: #2bb04a;
    color:white;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
}
.liens_offre{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    background-color: #f9f9f9;
}
.liens_offre a{
    width: 100%;
    padding: 3%;
    background-color: #096ec8;
    color:white;
    text-align: center;
    border-radius: 8px;
}
.pubdesktop{
    display: none;
}

/*RESPONSIVE-WEB-DESIGN*/

@media only screen and (min-width: 900px){
    .pmob{
        display: none;
    }
    .filtre{
    display: flex;
}
    .produit-filtre{
        display: flex;
    }
    .filtre .prix_max{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
    .filtre input{
    width: 35%;
    margin-left: none;
}
    .baniere{
        display: none;
    }
    .pubdesktop{
    display: block;
    width: 98%;
    margin-top: 15px;
}
.pubdesktop img{
    width: 100%;
}
.contain{
    display: flex;
}
.infos{
    padding: 9px;
    margin-top: 2px;
    
}
    .promo{
        width: 98%;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 1%;
    margin-top: 30px;
        height: 30px;
}
    .promo p{
        line-height: 24px;
    }
    .promo a{
     padding:4% 34% 3% 2%;;
    display: flex;
        height: 15px;
    justify-content: center;
        margin-top: -20px;
        text-align: center;
}
}